#!/usr/bin/env rc
#
# gg - git helper
#need git

c = $1 #cmd

if (~ $c ()) {
  git status
  exit
}

shift
a = $* #args

fn ask {
  r = () {
    r = `{awk '{print;exit}'}
    if (~ $r (y Y)) {
      return 0
    } else {
      return 1
    }
  }
}

switch ($c) {
  case a add
    echo gg- adding "$a^" to INDEX
    git add $^a

  case u unstage
    echo gg- unstaging "^$a^" from INDEX
    #git reset HEAD $^a

  case dc discard
    echo gg- "$a^"
    echo gg- discard changes? [y/n]
    if ( ask ) {
      echo gg- yes
    #git checkout -- $^a
    } else {
      echo gg- abort
    }

  case c
    echo gg- "$a^"
    echo gg- commit? [y/n]
    if ( ask ) {
      echo gg- yes
      git commit -m $^a
    } else {
      echo gg- abort
    }

  case *
    echo gg- ???
}
